
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Engage with your local legislature</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body class="container">
<div class="row"
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Engage Locally</div>
            <div class="card-body">
                <h4 class="card-title">Stay updated with your local legislation</h4>
                <p class="card-text">We will send you emails or notifications
                based on the topics you are interested in. You will get to decide
                how frequently you want to get them as well. Take action before it's
                too late!
                </p>

                <a class="btn btn-primary" href="#">Subscribe Today!</a>
            </div>
        </div>
    <div class="col-sm-3">
    </div>
</div>
</body>
</html>
