<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Engage with your local legislature</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body class="container-fluid">
 
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        {% for result in bill %}
            {% for elem in result  %}
                <div class="jumbotron">
                    <h5 class="display-3"> {{ elem['bill_id'] }}, {{elem['state']}} </h5>
                        <p class="lead"> {{ elem['title'] }} </p>
                        <hr class="my-4">
                        <h3> Take Action now. </h3>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Call your Representative!</a>
                            <a class="btn btn-primary btn-lg" href="#" role="button">Sign a petition</a>
                        </p>
                </div>
                {% endfor  %}
        {% endfor %}
    </div>
    <div class="col-sm-3">
    </div>
</body>
</html>

